
/* Global styles */

@import url('../css/mediaQueries.css');
@import url('../css/fonts.css');

:root {
    --text-color: #313131;
    --primary: #204051;
    --secondary: #84A9AC;
    --tertiary: #E7DFD5;
    --button: #cc5276;
    --input-cell: #C4DDE5;
    --output-cell: #EFEFEF;
    --light-gray: #676767;
    /*--sky: linear-gradient(120deg, #47b0ba 10%, #c2e9fb 100%);*/

    --Raleway: 'Raleway', cursive;
    --Source-Code: 'Source-Code', cursive;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--Raleway);
    font-size: 1rem;
    box-sizing: border-box;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    font-size: 1rem;
    text-transform: initial;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

section {
    padding: 5rem 0;
}

body {
    background-color: white;
}

/* Header */
header {
    width: 100%;
    height: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav-brand {
    width: 7rem
}

.menu-icons {
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.close i {
    color: var(--text-color);
}

.nav-list {
    width: 100%;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1500;
    height: 70%;
}

.sample-show-hide {
    transition: height 650ms;
}

.sample-show-hide.ng-hide {
    height: 0;
}

.nav-list.active{
    right: 0;
}

.close {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.nav-item {
    margin: 1.5rem 0;
}

.nav-link {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: black;
}

/* Hero */
.hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.border {
    border-top: 1px solid black;
}

.main-sec {
    width: 75%;
    margin: 0 auto;
}

.main-message {
    width: 100%;
    max-width: 30rem;
    margin: 15% auto;
    text-transform: uppercase;
    transform: translateY(20%);
    text-align: center;
}

.main-message h1 {
    font-size: 4rem;
    margin: 1rem 0;
}

.pic {
    width: 100%;
    max-width: 48rem;
    /*float: left;*/
    margin-top: 8rem;
}

.btn {
    background-color: #cc5276;
    border-radius: 2rem;
    border: 1px solid #cc5276;
    color: white;
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 3rem;
    text-transform: uppercase;
    transition: background-color 650ms;
}

.btn:hover {
    background-color: transparent;
    border: 1px solid #cc5276;
    color: var(--text-color);
}

i.fas {
    font-style: normal;
    cursor: pointer;
    font-family: fontawesome;
}

/* Notebook */
.notebook {
    margin: 0 auto;
    margin-top: 4rem;
    display: flex;
    margin-bottom: 1rem;
}

.notebook h1 {
    font-size: 2rem;
    font-weight: 100;
}

.notebook h2 {
    font-size: 1.4375rem;
    font-weight: 100;
}

.notebook h3 {
    font-size: 1.2rem;
    font-weight: 100;
}

.notebook p {
    font-size: .9rem;
}

.cell{
    background-color: var(--input-cell);
    width: 100%;
    height: 3rem;
    border-radius: 9px;
    border: none;
    padding: 0 2rem;
}

textarea:focus, input:focus{
    outline: none;
}

input[type="text"] {
    font-family: var(--Source-Code);
    font-size: 1rem;
    margin: 1rem 0;
    font-weight: 800;
}

.output {
    background-color: var(--output-cell);
}

.manage {
    position: relative;
    width: 2.8rem;
    text-align: center;
    margin: auto;
}

.new-row {
    position: relative;
    display: flex;
}

.new-row i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-plus-circle {
    color: grey!important;
    transition: 400ms;
}

.aaa {
    color: grey!important; 
    transform: rotate(-45deg);
}

.notes {
    width: 100%;
}

.notebook .fas {
    color: var(--light-gray);
}

.notebook img {
    width: 1.3rem;
}

.row {
    margin-top: 0;
}

.add-new {
    cursor: pointer;
}

.play {
    width: .8rem!important;
}

.buttons {
    display: flex;
}

.buttons img {
    transition: width 650ms;
}

.buttons img.ng-hide {
    width: 0;
}

.start {
    margin-left: 2rem;
    color: #b1b1b1;
}

.delete {
    position: absolute;
    top: -.3rem;
    right: -2.2rem;
    width: 1.9rem!important;
    transition: all 100ms linear;
}

.delete.ng-hide {
    opacity: 0;
}

.row img {
    height: 3rem;
    width: 3rem;
}

.buttons img {
    margin-left: 1rem;
}

.show-output {
    margin: 0 auto;
    margin-bottom: 2rem;
}



@media screen and (min-width: 1300px) {
    .nav-brand {
        width: 10rem
    }

    .nav-list {
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }

    .menu-icons {
        display: none;
    }

    .nav-item {
        margin: 0 2.5rem;
        color: black;
    }

    .nav-link,
    .current {
        color: black;
        position: relative;
        font-size: 1.1rem;
    }

    .nav-link:before,
    .current:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: black;
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
    }

    .current:before {
        transform: scaleX(1);
    }

    .nav-link:hover:before {
        transform: scaleX(1);
    }

    .hero {
        height: 100vh;
        margin: 0 auto;
    }

    .main-sec {
        width: 95%;
    }

    .main-message {
        text-align: left;
        margin-top: 5%;
        float: right;
        transform: translateY(15%);
    }

    .title-heading h1 {
        font-size: 2.5rem;
    }

    .notebook {
        width: 75%;
    }

    .notebook h1 {
        font-size: 3rem;
        font-weight: 100;
    }

    .notebook h2 {
        font-size: 2.4375rem;
        font-weight: 100;
    }

    .notebook h3 {
        font-size: 1.9375rem;
        font-weight: 100;
        margin-top: .5rem;
    }

    .notebook p {
        font-size: 1.25rem;
    }

}